body {
    margin: 20px 200px;
    padding: 10px;
}

main {
    display: flex;
    justify-content: left;
}

header {
    background-color: #ffffff;
    background-image: url(http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg);
    background-repeat: no-repeat;
    padding: 10px;
}

h1 {
    color: #ffffff;
    position: relative;
    top: 30px;
    text-transform: uppercase;
    text-align: center;
}



nav a {
    display: inline-block;
    justify-content: space-around;
    opacity: 0.5;
    margin: 4%;
    padding: 10px 40px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 5%;
}

nav a:active {
    background-color: #ffffff;
    opacity: 1;
    color: #0000ff;
}

nav a:hover {
    background-color: #ffffff;
    opacity: 1;
    color: #0000ff;
}

.active {
    background-color: #ffffff;
    opacity: 1;
}

.left {
    width: 180px;
    height: 550px;
    background-color: rgb(126, 105, 11);
}

aside img {
    width: 150px;
    height: auto;
    margin-top: 30px;
    margin-left: 14px;
    border: solid 1px #000000;
}

.right {
    padding: 10px;
    width: 700px;
}

li a {
    color: rgb(98, 23, 168);
}

/*Table was designed*/
table {

    border-radius: 5px 5px 0px 0px;
    margin-left: 70px;
    width: 560px;
    height: 400px;
}

th {
    background-color: #46680c;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: #aad85c;
    color: #ffffff;

}

td {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    border-collapse: collapse;
    background-color: rgb(199, 218, 167);
}

td:first-child,
th:first-child {
    text-align: left;
    padding-left: 10px;
}

td:nth-child(n+2),
th:nth-child(n+2) {
    text-align: center;
}

tr {
    opacity: 0.6;
}

tr:hover {
    opacity: 0.8;
}